// These styles are for every page regardless
body {
  background-color: #f2f1ef;
  font-family: Cinzel;
  color: #444341;
}
.navbar {
  background-color: $accent-color;
  border-bottom: solid .3em #444341;

  a {
    text-decoration: none;
    color: black;
  }
}

ul {
  list-style: none;
}

footer {
  background-color: $accent-color;
  border-top: solid .3em #444341;
  padding-bottom: 4px;
  margin-bottom: 0;
}

footer.p {
  padding-top: 1em;
  padding: 2em;
}

a {
  text-decoration: none;
  color:inherit;
}

.modal-backdrop {
    z-index: 1020;
}
