
.controller-homes{
  .index-column {
    margin-bottom: 2em;
    max-height: 280px;
  }

  .index-search {
    margin-bottom: 2em;
  }

  .no-results {
    background-color: inherit;
    margin-bottom: 0;
  }

  .pagination {
    font-size: 150%;
  }

  .glyphicon {
    padding-left: 1.3em;
  }
}
