
.landing-picture {
  margin-top: 0;
  padding-top: 0;
}

.landing-body {
  // Put all rules that only apply on the landing page here
  padding-top: 0;

  .container {
    display: flex;
    justify-content: center;
  }

  .home-page-button-row {
    a {
      width: 100%;
    }

    h2 {
      background-color: #f4f3f2;
      margin: 0;
      padding: 0;
    }
  }
}

.my-jumbotron {
  background-color: inherit;
  margin: 0;
  padding-top: 3px;
}

.mine {
  margin-left: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.offers {
  background-color: inherit;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 170%;
  }
}

ul {
  list-style: none;
}
