.show-jumbotron {
  background-color: #f2f1ef;
}

.show-details {
  padding-top: 3em;

  li {
    padding-bottom: 1.5em;
    font-weight: 600;
    font-size: 150%
  }
}

.description-span {
  font-weight: 600;
  font-size: 150%
}
